<div class="min-h-screen flex flex-col">
    <div class="min-h-screen flex justify-center flex-wrap content-center">
        <div class="bg-gray-100 rounded-md w-10/12 md:w-1/2 lg:w-4/12 flex flex-col shadow">
            <div class="w-full p-8 flex flex-wrap content-center bg-white">
                <div class="flex w-full justify-center">
                    <img alt="{{route '/' }}" src="{{route '/images/logo.webp'}}">
                </div>
            </div>
        </div>
    </div>
</div>