<div class="min-h-screen flex flex-col">
    <div class="min-h-screen flex justify-center flex-wrap content-center">
        <div class="bg-white rounded-md w-10/12 md:w-1/2 lg:w-4/12 flex shadow">
            <div class="w-full p-8 flex flex-col content-center text-center">
                <h1 class="p-4 text-6xl text-red-500 font-semibold">{{status}}</h1>
                <p class="p-4 text-2xl font-medium">Internal Server Error</p>
            </div>
        </div>
    </div>
</div>